Anaconda3-2022.05-Linux-x86_64.sh

# Ignore Jupyter Notebook checkpoints folder
.ipynb_checkpoints/
docker-compose
docker-compose-linux-x86_64

01/.ipynb_checkpoints/
01/

bfg-1.13.0.jar
01/.ipynb_checkpoints/
9b32cd2ed9146b7699dfcf0d38f536fcca47aaac

 wandb/
Anaconda3-2022.05-Linux-x86_64.sh
.ipynb_checkpoints/
docker-compose
docker-compose-linux-x86_64
01/
